#projects {
  padding: var(--mobile-padding);
}

.project-header,
.project-card,
.pl-description,
.link-btns {
  display: flex;
}

.img-link-btns {
  display: none;
}

.img-link-btns > div {
  border-bottom: 0.1em solid var(--green);
}

.img-link-btns a {
  display: block;
  font-size: 0.899rem;
  text-decoration: none;
  color: var(--white);
  padding-bottom: 0.5em;
}

.project-header {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.project-header h2 {
  font-size: 2.222rem;
}

.project-wrapper {
  display: grid;
  gap: 2.5em;
}

.project-card {
  flex-direction: column;
  text-transform: uppercase;
  gap: 0.5em;
}

.pl-description {
  color: var(--grey);
  gap: 1em;
}

.link-btns {
  margin-top: 0.5em;
  gap: 2em;
}

@media screen and (min-width: 48em) {
  #projects {
    padding: var(--tablet-padding);
  }
  #projects > div:first-child {
    display: none;
  }

  #projects h2 {
    font-size: 4rem;
  }

  .project-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 62em) and (max-width: 90em) {
  .project-img {
    position: relative;
  }

  .project-img:hover::before {
    background-color: hsla(0, 0%, 8%, 0.7);
  }

  .project-img::before {
    content: '';
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .img-link-btns {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    top: 20%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 2;
    opacity: 0;
  }

  .img-link-btns a:hover {
    color: var(--green);
  }

  .project-img:hover .img-link-btns {
    opacity: 1;
  }

  .link-btns {
    display: none;
  }
}
@media screen and (min-width: 62em) {
  #projects {
    padding: var(--desktop-padding);
  }
}
