#projects {
  padding: var(--mobile-padding);
}

.project-header,
.project-card,
.pl-description,
.link-btns {
  display: flex;
}

.project-header {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.project-header h2 {
  font-size: 2.222rem;
}

.project-wrapper {
  display: grid;
  gap: 1.5em;
}

.project-card {
  flex-direction: column;
  text-transform: uppercase;
  gap: 0.5em;
}

.pl-description {
  color: var(--grey);
  gap: 1em;
}

.link-btns {
  margin-top: 0.5em;
  gap: 2em;
}

@media screen and (min-width: 48em) {
  #projects {
    padding: var(--tablet-padding);
  }
  #projects > div:first-child {
    display: none;
  }

  #projects h2 {
    font-size: 4rem;
  }

  .project-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
