#hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4em;
}

.profile-img {
  position: relative;
  width: 9.667rem;
  height: 100%;
  margin: 0 auto;
}

.header-img-container {
  position: relative;
  overflow-x: hidden;
  margin-bottom: 3em;
}

.rings-img {
  position: absolute;
  height: 6em;
  width: 29.4em;
  top: 7rem;
  left: -50%;
}

.circle-img {
  position: absolute;
  right: -15%;
  bottom: 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1em;
}

.hero-text h1 {
  font-size: 2.2rem;
  line-height: 2.25rem;
}

.hero-text p {
  font-size: 0.889rem;
  color: var(--grey);
}

.hero-text span {
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-underline-position: under;
}

@media screen and (min-width: 48em) {
  .profile-img {
    width: 100%;
    height: 100%;
  }
}
