#skills {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2em;
  padding: var(--mobile-padding);
  border-top: 0.1rem solid var(--grey);
  border-bottom: 0.1rem solid var(--grey);
}
#skills h2 {
  font-size: 1.778rem;
  line-height: 2.25rem;
}

#skills p {
  font-size: 0.889rem;
  color: var(--grey);
}

.skill-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.rings-img {
  position: absolute;
  height: 7em;
  width: 29.4em;
  bottom: -3em;
  left: 50%;
}
