#skills {
  position: relative;
  gap: 2em;
  padding: var(--mobile-padding);
}
#skills h2 {
  font-size: 1.778rem;
  line-height: 2.25rem;
}

#skills p {
  font-size: 0.889rem;
  color: var(--grey);
}

.skill-content {
  display: grid;
  gap: 1em;
  text-align: center;
}

.rings-img {
  position: absolute;
  height: 7em;
  width: 29.4em;
  bottom: -4em;
  left: 50%;
}

@media screen and (min-width: 48em) {
  #skills {
    padding: var(--tablet-padding);
  }

  #skills h2 {
    font-size: 2.667rem;
    line-height: 3.1rem;
    margin-bottom: 0.25em;
  }

  #skills p {
    font-size: 1rem;
    line-height: 1.556rem;
  }

  .skill-content {
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
    gap: 3em;
  }

  .rings-img {
    bottom: 0;
    left: 33.5em;
  }
}
