#footer {
  position: relative;
  background-color: var(--dark-grey);
  margin-top: 4em;
  padding: var(--mobile-padding);
}

#footer h2 {
  font-size: 2.222rem;
}

.form-container,
.contact-form,
.footer-links,
.footer-links > div {
  display: flex;
}

.form-container {
  flex-direction: column;
  gap: 3em;
}
.form-header {
  text-align: center;
}
.form-header p {
  font-size: 0.889rem;
  color: var(--grey);
  margin-top: 1.5em;
  overflow-wrap: break-word;
}
.contact-form {
  flex-direction: column;
  gap: 2.5em;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--grey);
  padding-bottom: 1em;
  outline: none;
  color: var(--white);
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  padding-left: 1em;
}
.contact-form textarea {
  height: 6em;
}
.contact-form div:last-child {
  align-self: flex-end;
}
.footer-links,
.footer-links > div {
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.footer-links {
  flex-direction: column;
  margin-top: -1em;
}

.footer-links h2 {
  font-size: 1.333rem !important;
}

.footer-links > div {
  gap: 1.5em;
}

.rings-img {
  position: absolute;
  top: 57%;
  left: -50%;
  height: 7.116em;
}

@media screen and (min-width: 48em) {
  #footer {
    padding: var(--tablet-padding);
  }

  #footer h2 {
    font-size: 4rem;
  }

  #footer p {
    font-size: 1rem;
  }

  .footer-links {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-links h2 {
    font-size: 1.788rem !important;
  }

  .form-container {
    width: 65%;
    margin: 0 auto 5em;
  }

  .rings-img {
    top: 32em;
    left: -18em;
  }
}
