header {
  position: absolute;
  top: 1.5em;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 0 4rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
